/* global.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --background-start-light: #ffffff;
  --background-end-light: #f0f0f0;
  --foreground-light: #000000;
  --background-start-dark: #1a1a1a;
  --background-end-dark: #333333;
  --foreground-dark: #ffffff;
}

body {
  transition: background 0.3s, color 0.3s;
}


.bg-gradient-to-b {
  background-image: var(--background-start-light);
}

.text-foreground-light {
  color: var(--foreground-light);
}

.bg-gradient-to-b.dark {
  background-image: var(--background-start-dark);
}

.text-foreground-dark {
  color: var(--foreground-dark);
}